.header {
  width: 100%;
  height: 50px;
}
.container {
  background-color: blanchedalmond;
}

.title {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;  
}

.mainImg {
  max-width: 40px;
  max-height: 40px; 
}

.description {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.footer {
  background-color: cornflowerblue;
  color: yellowgreen;

}